<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap" rel="stylesheet">

    <link rel = 'stylesheet' href = '/style.css' />
    <title>Document</title>
</head>
<body>
    <header>
        <h1>To Do List</h1>
        <h2>Organize your life with PCTO</h2>
    </header>

    <main class = "main">
        <div class="actions">
            <form action="/clean" method="post">
                <button type="submit" class="action danger">&#x1f5d1;</button>
            </form>
        </div>
        <div class="insert">
            <form action="/new_todo" method="post">
                <input type="text" name="text" placeholder="Insert to do here">
            </form>
        </div>
        <ul class = "todos">
            <% todos.forEach(todo => { %>
            <li class = "todo">
                <span class="todo__text <%= todo.done? 'done' : '' %>">
                    <%= todo.text %>
                </span>
                <form action="/mark-done" method="post">
                    <input type="hidden" name= "id" value="<%= todo.id %>">
                    <button type="submit">Mark Done</button>
                </form>
            </li>
            <% }); %>
        </ul>
    </main>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <section class="socket-test">
        <button onclick = "sayHello()">Hello Server</button>
    </section>

    <section class = "chart">
        <canvas id = "myChart"></canvas>
    </section>

    <script>
        const socket =io();

//on è il comando evento, quando accade questo
        socket.on('initial-data', (data) => {
            console.log(data);
        });

//emit, invia dal server un'informazione al client senza fare refresh della pagina
        function sayHello() {
            socket.emit('hello', {
                text: 'Hello Server',
                from: 'The best client in the world',
            });
        }

        const ctx = document.getElementById('myChart');

        const items = []
        const chart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: 'My Data',
                        data: items,
                    },
                ],
            },
            options: {
                parsing: {
                    xAxisKey: 'timestamp',
                    yAxisKey: 'value',
                },
            },
        });

        function addData(chart, data) {
            items.push(data);
            const datasets = [ 
                {
               label: "My Data",
               data: items,
               },
            ];
            chart.data.datasets = datasets;
            chart.update('none');
        }

        socket.on('new-data', (data) => {
            //console.log(data);
            addData(chart, data);
        })
    </script>
</body>
</html>